* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  position: relative;
  margin: 0;
  overflow: hidden;
  background-color: var(--bg);
  transition: background-color 0.5s cubic-bezier(0.33, 1, 0.68, 1);
}
